.card {
  width: 800px;
  min-height: 470px;
  margin: 100px auto;
  background-color: rgba(250, 250, 250, 0.9);
  box-shadow: 12px 12px 0px 0 hsla(0, 0%, 10%, 0.15);
}

.card__header,
.header__current-weather-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card__header {
  padding: 35px 50px 10px 40px;
  text-align: center;
  color: #fff;
  background: linear-gradient(145deg, hsl(240, 20%, 30%) 0%, hsl(240, 20%, 45%) 100%);
}

/* background: linear-gradient(145deg, hsl(20, 60%, 52%) 0%, hsl(50, 50%, 52%) 100%); sun  */
/* background: linear-gradient(145deg, hsl(270, 20%, 20%) 0%, hsl(270, 20%, 50%) 100%); rain  */
/* background: linear-gradient(145deg, hsl(240, 20%, 30%) 0%, hsl(240, 20%, 45%) 100%); cloud  */

.card__header_weather-degree {
  font-size: 60px;
  font-weight: 600;
  margin-bottom: 15px;
}

.card__header_current-weather {
  text-transform: uppercase;
  font-style: italic;
}

.card__header_country {
  font-size: 27px;
  padding-bottom: 12px;
  position: relative;
}

.card__header_country::before {
  content: '';
  position: absolute;
  width: 45%;
  height: 3px;
  left: 50%;
  bottom: 0;
  border-radius: 999px;
  transform: translateX(-50%);
  background-color: #fff;
}

.card__body{
  padding: 20px 30px;
  display: flex;
  align-items: center;
}

.card__body-right {
  width: 55%;
}

.card__body-left{
  border-right: 1px solid #333;
  width: 45%;
  padding-right: 30px;
}

.card__body-list_wrap{
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.card__body-list_item{
  font-weight: 600;
}

.dots{
  flex-grow: 1;
  height: 3px;
  align-self: flex-end;
  margin: 0 7px;
  background: url('../../assets/img/dot.svg') repeat 0 0 / 6px;
}

.card__body-list_wrap>:nth-child(n+2){
  margin-top: 30px;
}

.card__body-footer{
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer__saved-btn{
  cursor: pointer;
  border: 3px solid transparent;
  padding: 12px 30px;
  font-size: 17px;
  font-weight: 600;
  color: #fff;
  text-transform: uppercase;
  background-color: hsl(220, 70%, 50%);
  transition: .25s;
  margin-top: 10px;
  margin-bottom: 20px;
}

.footer__saved-btn:hover{
  background-color: transparent;
  color: hsl(220, 70%, 50%);
  border: 3px solid currentColor;
}

