.search__input {
  min-width: 245px;
  padding: 7px 15px;
  background-color: #fff;
  border: 1px solid hsl(226, 30%, 32%);
  border-radius: 999px;
  color: #333;
}

.search__input::placeholder {
  color: #333;
}

.search__btn {
  cursor: pointer;
  color: #fff;
  border: 1px solid currentColor;
  text-align: center;
  width: 33px;
  height: 33px;

  border-radius: 50%;
  background: linear-gradient(
    145deg,
    hsl(202, 80%, 45%) 0%,
    hsl(226, 80%, 50%) 100%
  );
  margin-left: -35px;
  transition: 0.25s;
}

.search__btn:hover {
  opacity: 0.7;
}
