.header {
  padding: 25px 0;
  background-color: hsl(226, 30%, 32%);
  box-shadow: 0 -10px 20px rgba(51, 51, 51, 0.5);
  z-index: 9999;
  top: 0;
  position: sticky;
}

.navbar,
.header-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-size: 22px;
  font-weight: 600;
  color: #fff;
}

.header-nav > :nth-child(n + 2) {
  margin-left: 20px;
}

.main__btn{
  cursor: pointer;
  border: 1px solid hsl(226, 30%, 32%);
  padding: 10px 30px;
  color: #fff;
  font-size: 15px;
  border-radius: 999px;
  background: linear-gradient(145deg, hsl(202, 80%, 45%) 0%, hsl(226, 80%, 50%) 100%);
  transition: .25s;
}

.fa-arrow-left{
  margin-right: 10px;
}

.main__btn:hover{
  opacity: .7;
}